<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        <link rel="stylesheet" type="text/css" href="{{ asset('/css/main.css') }}">

    {% endblock %}
</head>
<body>
{% block body %}
    <h1>Welcome !</h1>

    <h3><a href="{{ path('booking') }}">booking...</a></h3>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
